<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.cho.rule.engine.infr.gateway.impl.dal.mapper.RuleSceneActionMapper">

    <resultMap id="BaseResultMap" type="com.jd.cho.rule.engine.infr.gateway.impl.dal.DO.RuleSceneActionDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="sceneCode" column="scene_code" jdbcType="VARCHAR"/>
        <result property="actionCode" column="action_code" jdbcType="VARCHAR"/>
        <result property="actionType" column="action_type" jdbcType="VARCHAR"/>
        <result property="action" column="action" jdbcType="VARCHAR"/>
        <result property="yn" column="yn" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="tenant" column="tenant" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,scene_code,action_code,
        action_type,action,yn,
        create_time,modify_time,creator,
        modifier,tenant
    </sql>
</mapper>
