<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.cho.rule.engine.infr.dal.mapper.RuleFactorMapper">

    <resultMap id="BaseResultMap" type="com.jd.cho.rule.engine.infr.dal.DO.RuleFactorDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="factorCode" column="factor_code" jdbcType="VARCHAR"/>
        <result property="factorFullCode" column="factor_full_code" jdbcType="VARCHAR"/>
        <result property="factorName" column="factor_name" jdbcType="VARCHAR"/>
        <result property="groupCode" column="group_code" jdbcType="VARCHAR"/>
        <result property="factorType" column="factor_type" jdbcType="VARCHAR"/>
        <result property="constantType" column="constant_type" jdbcType="VARCHAR"/>
        <result property="constantValue" column="constant_value" jdbcType="VARCHAR"/>
        <result property="factorScriptParam" column="factor_script_param" jdbcType="VARCHAR"/>
        <result property="factorScript" column="factor_script" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="yn" column="yn" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="tenant" column="tenant" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,factor_code,factor_full_code,
        factor_name,group_code,factor_type,
        constant_type,constant_value,factor_script_param,
        factor_script,remark,status,
        yn,create_time,modify_time,
        creator,modifier,tenant
    </sql>
</mapper>
